@font-face {
    font-family: "Geoform";
    src: url("assets/fonts/Geoform.otf");
}

@font-face {
    font-family: "Geoform-Bold";
    src: url("assets/fonts/Geoform-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Geoform-ExtraBold";
    src: url("assets/fonts/Geoform-ExtraBold.otf");
}

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

body {
    margin: 0 auto;
    position: relative;
    left: 0;
    max-width: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 3rem);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    margin: 1.5rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.5rem);
    border-radius: 0.75rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
                inset 0px 0px 20px white;
    z-index: 2000;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-right: auto;
    margin-left: 4rem;
}

#logo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: skewX(-20deg) translateX(-7%);
    padding: 0 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.logo {
    font-family: "Geoform-ExtraBold";
    font-size: 3rem;
    text-decoration: none;
    background-image: linear-gradient(45deg, #94D3F8FF 0%, #F6D6FFFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    transform: translateY(3px);
    transition: opacity 0.1s ease-in-out;
}

.logo:hover {
    opacity: 0.75;
}

#nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}

.nav-obj {
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(150, 150, 150);
    font-size: 1rem;
    width: 100%;
    padding: 0 1.5rem;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
}

#nav-links li a {
    color: inherit;
    text-decoration: none;
}

.nav-obj:hover {
    color: rgb(50, 50, 50);
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
    position: relative;
}

.dropdown .fa {
    transition: transform 0.1s ease-in-out;
}

.dropdown:hover .fa {
    transform: rotate(-180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    width: 10rem;
    height: auto;
    visibility: hidden;
    background: white;
    backdrop-filter: blur(0.5rem);
    list-style: none;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2001;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.dropdown-menu li {
    display: flex;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 100%;
    height: 100%;
    color: rgb(150, 150, 150);
}

.dropdown-menu li:hover {
    color: black;
}

.dropdown-menu li a {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

#progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    transition: width 0s;
    z-index: 10000;
}

#main {
    display: flex;
    flex-direction: column;
}

#landing {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#slides {
    display: flex;
    width: fit-content;
    background: black;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.6);
    color: white;
    background: transparent;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1000;
}

.arrow:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
}

#prev {
    left: 1.5rem;
}

#next {
    right: 1.5rem;
}

#scroll-bar {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 1rem;
    display: flex;
    border: 2px solid white;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
}

.scroll-section {
    flex: 1;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
    height: 100%;
    background: white;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    transition: transform 1s ease-in-out;
    pointer-events: none;
}

#slide1-text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 6rem;
    background: linear-gradient(to right, black, transparent);
    z-index: 100;
}

#slide1-text h1 {
    font-family: "Geoform-ExtraBold";
    font-size: 10rem;
}

#slide1-text h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    margin-bottom: 1rem;
}

.cold {
    font-size: 2rem;
    color: #94D3F8FF;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

.learn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 1rem;
    width: fit-content;
    color: black;
    text-decoration: none;
    background: linear-gradient(45deg,#94D3F8FF,#F6D6FFFF,#F6D6FFFF,#94D3F8FF);
    background-size: 300% 100%;
    transition:
        background-position 0.3s ease-in-out,
        box-shadow 0.2s ease-in-out,
        filter 0.4s ease-in-out;
}

.learn:hover {
    background-position: -300% 0;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9);
    filter: brightness(1.05);
}

#action {
    position: absolute;
    max-width: 100vw;
    max-height: 90vh;
    bottom: 0;
    right: 0;
    z-index: 50;
}

#circle1 {
    position: absolute;
    width: 150vh;
    height: 150vh;
    max-width: 90vw;
    max-height: 90vw;
    bottom: -70vh;
    right: -30vh;
}

#slide2 {
    text-align: center;
}

#slide2-text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 100;
}

#slide2-text h1 {
    font-family: "Geoform-ExtraBold";
    font-size: 10rem;
}

#slide2-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#slide2-tag h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 100;
}

#vortex {
    position: absolute;
    max-width: 100vw;
    max-height: 80vh;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

#circle2 {
    position: absolute;
    width: 195vh;
    height: 195vh;
    max-width: 100vw;
    max-height: 100vw;
    bottom: -100vh;
    left: 50%;
    transform: translateX(-50%);
}

#slide3-text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    height: 100%;
    max-width: 80vw;
    padding: 0 6rem;
    right: 0;
    background: linear-gradient(to left, black, transparent);
    z-index: 100;
}

#slide3-text h1 {
    font-family: "Geoform-ExtraBold";
    font-size: 10rem;
}

#slide3-text h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 100;
}

#large-logo {
    position: absolute;
    max-width: 100vw;
    max-height: 90vh;
    bottom: 0;
    left: 9vw;
    z-index: 50;
}

#circle3 {
    position: absolute;
    width: 170vh;
    height: 170vh;
    max-width: 100vw;
    max-height: 100vw;
    bottom: -75vh;
    transform: translateX(-30vh);
}

#testimonials {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    margin: 3rem 0;
    height: fit-content;
}

#gradient-overlay {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    opacity: 0.8;
    filter: blur(10rem);
    --angle: 0deg;
    background: linear-gradient(var(--angle),#94D3F8FF, #F6D6FFFF);
    z-index: -100;
}

.test {
    display: flex;
    width: 100%;
    height: fit-content;
}

.test-text-container {
    flex: 1;
    width: 50%;
    padding: 2%;
}

.test-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    height: 100%;
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 2rem;
    line-height: 2rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.test-text h1 {
    margin-bottom: 2rem;
}

.test-text p {
    font-weight: 200;
}

.check {
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg,black 20%, #94D3F8FF,#F6D6FFFF);
    background-size: 400% 100%;
    transition: all 0.2s ease-in-out;
}

.check-text {
    transition: transform 0.2s ease;
}

.check-arrow {
    position: absolute;
    right: -2rem;
    transition: right 0.2s ease;
}

.check:hover {
    color: black;
    background-position: 100% 0;
    filter: brightness(1.05);
}

.check:hover .check-text {
    transform: translate(-0.5rem);
}

.check:hover .check-arrow {
    right: 1.75rem;
}

.product {
    flex: 2;
    width: 50%;
    height: auto;
    background: radial-gradient(at center 120%, white 0%, black 60%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: 200%;
    background-position: 50%;
    aspect-ratio: auto;
}

.left-img {
    border-radius: 0 2rem 2rem 0;
}

.right-img {
    border-radius: 2rem 0 0 2rem;
}

footer {
    background: black;
    padding: 1rem 15vw;
}

footer h2 {
    color: #00c3ff;
    text-decoration: underline;
    font-weight: 300;
}

footer p {
    color: white;
    font-weight: 200;
    line-height: 2rem;
}

.link {
    color: #00c3ff;
    box-shadow: inset 0 0 0 0 #42a4b3;
    transition: all 0.2s ease-in-out;
}
  
.link:hover {
    color: white;
    box-shadow: inset 300px 0 0 0 #42a4b3;
}
