footer {
    background: black;
    padding: 1rem 15vw;
}

footer h2 {
    color: #00c3ff;
    font-weight: 300;
}

footer p {
    color: white;
    font-weight: 200;
    line-height: 2rem;
}

.link {
    color: #00c3ff;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.link:hover {
    filter: brightness(1.3);
}