footer {
    background: rgb(245, 245, 245);
    padding: 1rem 15vw;
}

footer h2 {
    color: #00c3ff;
    font-weight: 300;
}

footer p {
    font-weight: 200;
    line-height: 2rem;
}

.link {
    color: #00c3ff;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.link:hover {
    filter: brightness(1.2);
}